<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>42</title>

  
  
  <style type="text/css">
    #workspace {
      width: 960px ;
      margin-right: auto;
      margin-left: auto;
      padding-left: 30 px;
      overflow: hidden;
      background-image: url(cell10x10.gif);
      background-position: top centr;
      background-repeat: repeat;
    }

    #lcolumn {
      float: left;
/*      margin-right: 380px; */
      width: 300px;
      border: 2px solid red;
    } 

    #rcolumn {
      margin-left: 380px;
      width: 300px;
      border: 2px double lime;
    }

   #multiline {
     margin-left: 10px;
     margin-right: 10px;
     
     border: 2px solid grey;
    }

#jabber {
}

#email {
}

#skype {
}

#othr {
}

#bio {
}


  </style>
</head><body>
<div id="workspace">
<h3> 42 Coffee Cups Test Assignment </h3>
<div id="lcolumn">
<ul>
  <li> Name: </li>
  <li> Last name: </li>
  <li> Date of Bird: </li>
  <li> Bio:
    <div id="multiline"> I Like cats.<br>
but indeferent to dogs. </div>
  </li>
</ul>
</div>
<div id="rcolumn">
Contacts: 
<ul>
  <li> Email: email </li>
  <li> Jabber: JID </li>
  <li> Skype: id </li>
  <li> Other contacts:
    <div id="multiline"> Phone +7717123456<br>
Mobile +770101234567<br>
    </div>
  </li>
</ul>
</div>
</div>
<?python
  hw='Hello Word!'
  print hw
  s = dir(t1)
  
?>
</body></html>